


nav ul {
	display: flex;
	padding: 0;
	list-style: none;
}

nav ul li a {
	display: block;
	padding: 10px 50px;
	background: blue;
	color: white;
}

#container {
	margin: auto;
	width: 900px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
	nav ul {
		flex-direction: column;
	}
} 
